
body{
  background-color:#15171e;
  cursor: default;
}

h1{
  text-align: center;
  color: whitesmoke;
}

select{
  cursor:pointer;
}

input{
  cursor:pointer;
}

p{
  text-align: center;
  color: whitesmoke;
  padding: 7px;
}

#navBar{
  text-align: center;
  margin: 2px;
  border: solid 2px #32a1ce;
  border-radius: 7px;
  background: black;
  color: whitesmoke;

}

.display_cards{
  width: 450px;
  height: 250px;
  margin: 2%;
  margin-left: 5%;
  background-color: #262b3b;
  border-radius: 5px;
  box-shadow: rgba(255, 255, 255, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  float: left;
  overflow-y:auto
}

.display_cards{
  scrollbar-width: auto;
  scrollbar-color: #312f32 #fafafa;
}

.display_cards::-webkit-scrollbar {
  width: 13px;
}

.display_cards::-webkit-scrollbar-track {
  background: #262b3b;
}

.display_cards::-webkit-scrollbar-thumb {
  background-color: #312f32;
  border-radius: 10px;
  border: 1px solid #ffffff;
}


#upload_form{
  color: white;
  text-align: center;
  border-radius: 5px;
  position: fixed;
  left: 25%;
  width: 50%;
  height: 55%;
  background-color: #262b3b;
  box-shadow: rgba(255, 255, 255, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

}

#filter_value{
  position: absolute;
  top: 10%;
  left: 10%;
  height: 40px;
  width: 100px;
  background-color: #262b3b;
  color: whitesmoke;
}

.like_button{
  margin: 10px;
  border-radius: 5px;
  background-color: #15171e;
  cursor:pointer;
}

.delete_button{
  background-color: #15171e;
  color: whitesmoke;
  border-radius: 5px;
  cursor:pointer;
}

.signout_button{
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 20%;
  height: 5%;
  width: 10%;
  background-color: #262b3b;
  color: whitesmoke;
  border-radius: 5px;
  box-shadow: rgba(255, 255, 255, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  cursor:pointer;
}

#title_input{
  width: 60%;
  height: 5%;
  padding-bottom: 1px;
  background-color: rgb(73, 75, 92);
  font-size: 20px;
}

#content_input{
  position: absolute;
  top: 25%;
  left: 10%;
  width: 80%;
  height: 65%;
  padding-top: 1;
  background-color: rgb(73, 75, 92);
  padding-left: 1%;
  font-size: 18px;
  border-radius: 1%;
}

#submit_upload{
  position: absolute;
  bottom: 3%;
  right: 3%;
  width: 10%;
  height: 4%; 
  background-color: rgb(73, 75, 92);
}

#login_form{
  position: fixed;
  transform: translate(-50%, 50%);
  left: 50%;
  width: 250px;
  display: flex;
  justify-content: center;
  height: 3%;
  padding: 2%;
  background-color: #262b3b;
  border-radius: 5px;
  box-shadow: rgba(255, 255, 255, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.login_input{
  transform: translate(-50%, 50%);
  cursor:text;
  position: absolute;
  top: 25%;
  background-color: rgb(73, 75, 92);
  left: 40%;
  height: 20%;
  width: 55%;
}


.login_submit{
  transform: translate(0, -50%);
  position: absolute;
  top: 50%;
  left: 75%;
  background-color: rgb(73, 75, 92);
}

.dropdown_select{
  background-color: rgb(73, 75, 92);
  height: 38px;
  position: relative; 
  top: -2px;
}
